/*  header style  */

header{}
header div.cat-header-container{background: #6E6E70; border-bottom: 0.5vh solid #301B0C; }
header .cat-header{overflow: hidden}
header img{width: 35%; text-align: left margin: 0 auto; padding: 1vh 0}

nav{}
.nav.cat-nav-top li > a{color: #301B0C; font-family: segoe print, sans-serif; font-weight:  bold; font-variant:  small-caps; font-size: 1.3em }

/*  contente style  */

section.contente{background-image: url(imag/background.jpg); height: 70vh}

.cat-content{margin-top: 3vh; text-align: center}

/*  footer style  */

footer{background: #6E6E70; font-size: 1.2em; position: absolute; width: 100%}
.footer{margin: 0 auto; padding-top: 3%}
.footer [class*='col-']{padding: 0;}
.footer div.cat-footer-left{width: 49%; float: left;  margin-top: 1%}
.footer span.cat-footer-right{line-height: 5vh; width: 49%;}
.footer ul{margin: 0; width: 40%; float: left; text-indent: 4%}
.footer ul li img{max-width: 40px;}
.footer ul li img:hover{opacity: 0.5}
